.login-container {
  display: flex;
}

.login-left {
  flex: 6;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, rgb(140, 174, 241), rgb(95, 142, 236));
  border-radius: 0 0 80% 0;
  height: 100vh;
}

.login-right {
  flex: 4;
  margin: auto;
}

.login-title {
  text-align: center;
  height: 200px;
  font-size: 48px;
}