.price-update {
  flex: 1;
  min-height: 235px;
  max-height: 235px;
}

.price-update-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  box-shadow: 0 0.5px 0 0 #dedcdc;
}

.price-update-content {
  height: 200px;
  overflow-y: auto;
  font-size: 14px
}

.price-title {
  text-align: center;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: bold;
  font-size: 18px;
  font-family: AlibabaPuHuiTi, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}