.view-container {
  display: flex;
  overflow: hidden;
}

.sideBar {
  z-index: 1;
  overflow-y: auto;
}

.main-container {
  flex: 1;
}

.content {
  overflow: auto;
  padding: 10px;
  background-color: rgb(243, 245, 247);
}

.title {
  box-sizing: content-box;
  padding: 18px 10px;
}

.main-header-box {
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  box-shadow: -1px 3px 5px -5px #929191;
}

.main-header {
  transform: translateZ(0);
}